<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jameshao.nhsserver.mapper.BeddetailsMapper">

    <resultMap id="BaseResultMap" type="com.jameshao.nhsserver.po.Beddetails">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="endDate" column="end_date" jdbcType="DATE"/>
            <result property="bedDetails" column="bed_details" jdbcType="VARCHAR"/>
            <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
            <result property="bedId" column="bed_id" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,start_date,end_date,
        bed_details,customer_id,bed_id,
        is_deleted
    </sql>
</mapper>
