<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jameshao.nhsserver.mapper.MealMapper">

    <resultMap id="BaseResultMap" type="com.jameshao.nhsserver.po.Meal">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="weekDay" column="week_day" jdbcType="VARCHAR"/>
            <result property="foodId" column="food_id" jdbcType="INTEGER"/>
            <result property="mealType" column="meal_type" jdbcType="INTEGER"/>
            <result property="taste" column="taste" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,week_day,food_id,
        meal_type,taste,is_deleted
    </sql>
</mapper>
