<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jameshao.nhsserver.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.jameshao.nhsserver.po.Menu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="menusIndex" column="menus_index" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <collection property="children" select="selectbypid" column="id" ofType="menu" fetchType="lazy"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,menus_index,title,
        icon,path,parent_id
    </sql>
    <select id="selectbypid" resultMap="BaseResultMap">
        select * from menu where parent_id = #{id}
    </select>

    <select id="selectbyroleid" resultMap="BaseResultMap">
        select menu.* from menu, rolemenu
        where parent_id = 0
          and menu.id = rolemenu.menu
          and rolemenu.role_id=#{roleid}
    </select>
</mapper>
