<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jameshao.nhsserver.mapper.NursecontentMapper">

    <resultMap id="BaseResultMap" type="com.jameshao.nhsserver.po.Nursecontent">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="serialNumber" column="serial_number" jdbcType="VARCHAR"/>
            <result property="nursingName" column="nursing_name" jdbcType="VARCHAR"/>
            <result property="servicePrice" column="service_price" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="executionCycle" column="execution_cycle" jdbcType="VARCHAR"/>
            <result property="executionTimes" column="execution_times" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,serial_number,nursing_name,
        service_price,message,status,
        execution_cycle,execution_times,is_deleted
    </sql>
    <update id="deletebyid">
        update nursecontent set is_deleted = 1 where id = #{id}
    </update>
</mapper>
